### Ex1 Load dataset nyc_weather_2018 and weather_stations, then calculate the average elevation of stations that calculat‘SNOW’ and contains ‘NJ US’ in its name.

In [5]:
import pandas as pd
import numpy as np

In [10]:
weather = pd.read_csv("./nyc_weather_2018.csv")
station_infor = pd.read_csv("./weather_stations.csv")

station_infor.tail(15)

,id,name,latitude,longitude,elevation
264,GHCND:USC00309117,"WESTBURY, NY US",40.73333,-73.600000,27.4
265,GHCND:USC00309270,"WEST NYACK, NY US",41.08333,-73.966670,57.9
266,GHCND:USC00309400,"WHITE PLAINS MAPLE M, NY US",41.01667,-73.733330,45.7
267,GHCND:USC00309466,WILLETS POINT,40.80000,-73.766667,16.8
268,GHCND:USC00309576,"WOODLANDS ARDSLEY, NY US",41.01667,-73.850000,42.7
269,GHCND:USW00014708,"HEMPSTEAD MITCHELL FIELD AFB, NY US",40.73333,-73.600000,38.1
270,GHCND:USW00014732,"LAGUARDIA AIRPORT, NY US",40.77944,-73.880350,3.4
271,GHCND:USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",40.68250,-74.169400,2.1
272,GHCND:USW00014786,"NEW YORK FLOYD BENNETT FIELD, NY US",40.58333,-73.883330,4.9
273,GHCND:USW00054743,"CALDWELL ESSEX CO AIRPORT, NJ US",40.87639,-74.283060,52.7
274,GHCND:USW00054787,"FARMINGDALE REPUBLIC AIRPORT, NY US",40.73417,-73.416940,24.7
275,GHCND:USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.969250,42.7
276,GHCND:USW00094741,"TETERBORO AIRPORT, NJ US",40.85000,-74.061390,2.7
277,GHCND:USW00094745,"WESTCHESTER CO AIRPORT, NY US",41.06236,-73.704630,111.9
278,GHCND:USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.63915,-73.764010,3.4

In [11]:
station_infor.tail(15)

,id,name,latitude,longitude,elevation
264,GHCND:USC00309117,"WESTBURY, NY US",40.73333,-73.600000,27.4
265,GHCND:USC00309270,"WEST NYACK, NY US",41.08333,-73.966670,57.9
266,GHCND:USC00309400,"WHITE PLAINS MAPLE M, NY US",41.01667,-73.733330,45.7
267,GHCND:USC00309466,WILLETS POINT,40.80000,-73.766667,16.8
268,GHCND:USC00309576,"WOODLANDS ARDSLEY, NY US",41.01667,-73.850000,42.7
269,GHCND:USW00014708,"HEMPSTEAD MITCHELL FIELD AFB, NY US",40.73333,-73.600000,38.1
270,GHCND:USW00014732,"LAGUARDIA AIRPORT, NY US",40.77944,-73.880350,3.4
271,GHCND:USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",40.68250,-74.169400,2.1
272,GHCND:USW00014786,"NEW YORK FLOYD BENNETT FIELD, NY US",40.58333,-73.883330,4.9
273,GHCND:USW00054743,"CALDWELL ESSEX CO AIRPORT, NJ US",40.87639,-74.283060,52.7
274,GHCND:USW00054787,"FARMINGDALE REPUBLIC AIRPORT, NY US",40.73417,-73.416940,24.7
275,GHCND:USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.969250,42.7
276,GHCND:USW00094741,"TETERBORO AIRPORT, NJ US",40.85000,-74.061390,2.7
277,GHCND:USW00094745,"WESTCHESTER CO AIRPORT, NY US",41.06236,-73.704630,111.9
278,GHCND:USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.63915,-73.764010,3.4

In [12]:
station_infor.rename(columns={"id":"station"},inplace=True)
station_infor.tail(10)

,station,name,latitude,longitude,elevation
269,GHCND:USW00014708,"HEMPSTEAD MITCHELL FIELD AFB, NY US",40.73333,-73.60000,38.1
270,GHCND:USW00014732,"LAGUARDIA AIRPORT, NY US",40.77944,-73.88035,3.4
271,GHCND:USW00014734,"NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US",40.68250,-74.16940,2.1
272,GHCND:USW00014786,"NEW YORK FLOYD BENNETT FIELD, NY US",40.58333,-73.88333,4.9
273,GHCND:USW00054743,"CALDWELL ESSEX CO AIRPORT, NJ US",40.87639,-74.28306,52.7
274,GHCND:USW00054787,"FARMINGDALE REPUBLIC AIRPORT, NY US",40.73417,-73.41694,24.7
275,GHCND:USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7
276,GHCND:USW00094741,"TETERBORO AIRPORT, NJ US",40.85000,-74.06139,2.7
277,GHCND:USW00094745,"WESTCHESTER CO AIRPORT, NY US",41.06236,-73.70463,111.9
278,GHCND:USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.63915,-73.76401,3.4

In [13]:
data = station_infor.merge(weather,on="station",how='inner') \
                            .drop_duplicates(["station","datatype"]).reset_index(drop=True)
data.shape

(633, 9)

snow_avg= data.query('datatype=="SNOW" and name.str.contains("NJ US")',engine="python")
snow_avg.elevation.mean()

### Ex2: Load the fb dataset, then:
 •Calculate the percentage change between that and and last day in volumn (pct_change method)
 
 •Sort the dataframe by percentage change then get five days that have the biggest change.

In [14]:
fb_2018 = pd.read_csv("./fb_2018.csv")

In [15]:
fb_p = fb_2018.assign(p_change = lambda x: x.volume.pct_change())
fb_p.tail(10)

           date    open    high       low   close    volume  p_change
241  2018-12-17  143.08  144.92  138.4200  140.19  24333959  0.116963
242  2018-12-18  141.08  145.93  139.8301  143.66  24709084  0.015416
243  2018-12-19  141.21  144.91  132.5000  133.24  57404894  1.323230
244  2018-12-20  130.70  135.57  130.0000  133.40  40297944 -0.298005
245  2018-12-21  133.39  134.90  123.4200  124.95  56901491  0.412020
246  2018-12-24  123.10  129.74  123.0200  124.06  22066002 -0.612207
247  2018-12-26  126.00  134.24  125.8900  134.18  39723370  0.800207
248  2018-12-27  132.44  134.99  129.6700  134.52  31202509 -0.214505
249  2018-12-28  135.34  135.92  132.2000  133.20  22627569 -0.274816
250  2018-12-31  134.45  134.64  129.9500  131.09  24625308  0.088288

In [17]:
fb_2018['shift_vol']=fb_2018.volume.shift(1)
fb_2018.head()

         date    open    high       low   close    volume   shift_vol
0  2018-01-02  177.68  181.58  177.5500  181.42  18151903         NaN
1  2018-01-03  181.88  184.78  181.3300  184.67  16886563  18151903.0
2  2018-01-04  184.90  186.21  184.0996  184.33  13880896  16886563.0
3  2018-01-05  185.59  186.90  184.9300  186.85  13574535  13880896.0
4  2018-01-08  187.20  188.90  186.3300  188.28  17994726  13574535.0

In [18]:
fb_p2 = fb_2018.assign(p_change = lambda x: (x.volume.sub(x.shift_vol)).div(x.shift_vol))
fb_p2.head()

,date,open,high,low,close,volume,shift_vol,p_change
0,2018-01-02,177.68,181.58,177.5500,181.42,18151903,NaN,NaN
1,2018-01-03,181.88,184.78,181.3300,184.67,16886563,18151903.0,-0.069708
2,2018-01-04,184.90,186.21,184.0996,184.33,13880896,16886563.0,-0.177992
3,2018-01-05,185.59,186.90,184.9300,186.85,13574535,13880896.0,-0.022071
4,2018-01-08,187.20,188.90,186.3300,188.28,17994726,13574535.0,0.325624

In [20]:
fb_p2.sort_values(by=("p_change"),ascending=False).head()

,date,open,high,low,close,volume,shift_vol,p_change
8,2018-01-12,178.06,181.48,177.40,179.37,77551299,9588587.0,7.087876
52,2018-03-19,177.01,177.17,170.06,172.56,88140060,24403438.0,2.611789
142,2018-07-26,174.89,180.13,173.75,176.26,169803668,64592585.0,1.628841
182,2018-09-21,166.64,167.25,162.81,162.93,45994800,18936038.0,1.428956
57,2018-03-26,160.82,161.10,149.02,160.06,126116634,53609706.0,1.352496

### Ex3 : Create bins for each full number of earthquake magnitude (for instance, the first bin is (0, 1], the second is (1, 2], and so on) with the ml magnitude type and count how many are in each bin.

In [21]:
earthquakes = pd.read_csv("earthquakes.csv")
earthquakes.tail(4)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
9328,NaN,NaN,38063967,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.03041,NaN,50.0,",ci38063967,",1.00,ml,...,",ci,",reviewed,1537230135130,"M 1.0 - 3km W of Julian, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1537276800970,https://earthquake.usgs.gov/earthquakes/eventp...
9329,NaN,NaN,2018261000,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.45260,NaN,276.0,",pr2018261000,",2.40,md,...,",pr,",reviewed,1537229908180,"M 2.4 - 35km NNE of Hatillo, Puerto Rico",0,earthquake,",geoserve,origin,phase-data,",-240.0,1537243777410,https://earthquake.usgs.gov/earthquakes/eventp...
9330,NaN,NaN,38063959,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.01865,NaN,61.0,",ci38063959,",1.10,ml,...,",ci,",reviewed,1537229545350,"M 1.1 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537230211640,https://earthquake.usgs.gov/earthquakes/eventp...
9331,NaN,NaN,38063935,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.01698,NaN,39.0,",ci38063935,",0.66,ml,...,",ci,",reviewed,1537228864470,"M 0.7 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537305830770,https://earthquake.usgs.gov/earthquakes/eventp...

In [22]:
mag_ml = earthquakes[earthquakes.magType=="ml"]
earthquakes = earthquakes.assign(mag_bin = pd.cut(mag_ml.mag,bins=5,labels=["nor","low","med","high","dangerous"]))
earthquakes.mag_bin.value_counts()

low          2990
med          2921
nor           509
high          372
dangerous      11
Name: mag_bin, dtype: int64

### Ex4 : Load the dataset weather_by_station then:
    •Calculate the mean value each station recorded snow per month.
    •Count the number of times each station recorded snow per month.

In [24]:
weather_by_station = pd.read_csv("weather_by_station.csv")

In [25]:
weather_by_station = weather_by_station.assign(month = pd.DatetimeIndex(weather_by_station.date).month)

In [26]:
pd.crosstab(index = weather_by_station.station, columns = weather_by_station.month, colnames=['month'], values = weather_by_station.value, aggfunc=np.mean)

month,1,2,3,4,5,6,7,8,9,10,11,12
station,,,,,,,,,,,,
GHCND:US1CTFR0039,9.762857,9.906452,9.580556,14.082609,2.722581,6.368421,3.403226,7.220833,8.200000,3.893548,5.610000,6.659091
GHCND:US1NJBG0003,14.255556,23.450000,26.518750,9.742000,3.995000,1.461111,14.692308,7.789655,5.274419,1.745833,9.322000,3.839474
GHCND:US1NJBG0010,NaN,NaN,33.800000,18.437500,6.700000,7.700000,11.038462,21.400000,22.063636,13.340000,19.200000,NaN
GHCND:US1NJBG0015,6.207692,6.457143,7.910714,7.675000,2.075000,1.429787,2.884314,5.538462,6.066667,2.883784,9.421429,3.216327
GHCND:US1NJBG0017,11.339506,9.320000,13.038095,10.643137,2.520513,1.738636,3.200000,7.497222,4.684615,2.111905,10.506250,2.805455
...,...,...,...,...,...,...,...,...,...,...,...,...
GHCND:USW00054787,184.486022,165.691829,187.778136,184.116296,190.729749,176.979259,196.596057,193.315412,186.890741,194.390681,176.031769,185.034708
GHCND:USW00094728,50.235061,48.336184,37.296646,43.544923,42.488393,40.868210,40.636842,48.494203,26.306020,27.766809,5.556213,2.732143
GHCND:USW00094741,180.712143,175.291188,214.355282,201.150185,187.699283,203.008148,206.115412,213.606093,186.316296,201.343011,192.344211,179.765398
GHCND:USW00094745,180.765950,179.858984,188.500717,191.793704,187.332258,192.415556,190.816846,195.345520,165.255720,209.578495,194.783929,195.080069
GHCND:USW00094789,46.194183,44.171598,45.771067,42.063636,37.835150,35.905731,45.067867,42.044414,29.768391,47.119101,47.131161,41.066298

In [27]:
pd.crosstab(index = weather_by_station.station, columns = weather_by_station.month, colnames=['month'])

month               1    2    3    4    5    6    7    8    9    10   11   12
station
GHCND:US1CTFR0039   35   31   36   23   31   19   31   24   30   31   30   22
GHCND:US1NJBG0003    9   22   32   50   20   18   13   29   43   48   50   38
GHCND:US1NJBG0010    0    0    2    8   13   11   13   13   11    5    6    0
GHCND:US1NJBG0015   52   42   56   44   48   47   51   39   33   37   42   49
GHCND:US1NJBG0017   81   40   84   51   39   44   42   36   39   42   48   55
...                ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
GHCND:USW00054787  279  257  279  270  279  270  279  279  270  279  277  291
GHCND:USW00094728  328  304  328  325  336  324  342  345  299  235  169  168
GHCND:USW00094741  280  261  284  271  279  270  279  279  270  279  285  289
GHCND:USW00094745  279  256  279  270  279  270  279  279  271  279  280  291
GHCND:USW00094789  361  338  356  352  367  349  361  367  348  356  353  362

[109 rows x 12 columns]